/* Algemene stijl */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000; /* Zwarte achtergrond */
    color: #fff; /* Witte tekst als standaard */
    background-image: linear-gradient(to right, black, orange, black);
}

/* Header - Bovenbalk */
header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #CCCCCC; /* Lichtgrijze header */
    padding: 10px;
}

header .home-icon {
    margin-right: 20px;
    font-size: 25px;
}

.dropdown {
    position: relative;
    display: inline-block;
    font-size: large;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
    font-family: Courier, monospace;
}
 
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: aliceblue;
    min-width: 160px;
}
 
.dropdown-menu a {
    padding: 8px 12px;
    display: block;
}
 
.dropdown:hover .dropdown-menu {
    display: block;
}
 
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: antiquewhite;
    z-index:  2;
}
 
.nav-links {
    text-align: center;
    padding: 15px 0;
    font-size: large;
    font-family: Courier, monospace;
}
 
.nav-links li {
    display: inline-block;
    margin: 0 20px;
}
 
.nav-links a {
    color: blueviolet;
    text-decoration: none;
}
 
.nav-links a:hover {
    color: #000;
}

/* Footer met knoppen */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #888888; /* Grijze balk onderin */
    padding: 15px 0;
}

.controls button {
    background-color: #555555; /* Donkergrijze knoppen */
    color: #FFFFFF; /* Witte tekst */
    border: none;
    margin: 0 15px;
    padding: 15px 20px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

/* Podcast afbeeldingen */
.content-grid img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

/* Stijl voor de content items */
.content-item {
    text-align: center;
    margin: 10px;
}

.content-item p {
    margin-top: 5px;
    font-size: 14px;
    color: #fff; /* Witte tekst */
}

/* Flexbox layout voor content-grid */
.content-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
